
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');



*{
  margin: 0;
  padding: 0;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

html{
  background:whitesmoke;
}

.wrapper{
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 8rem 1fr;
  grid-template-areas: 
    'photoMenu bigBox'
    'currentPage currentPage'
    'footer footer';
}


.photoMenu{
  width: 10rem;
  grid-area: photoMenu;
  height: 25rem;
  font-family: 'Federo', sans-serif;
  text-decoration: none;
  position: fixed;
  left: 1.3rem;
  display: grid;
  align-items: center;
  line-height: 3rem;
  box-sizing: border-box;
  animation-name: scrollIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}


@keyframes scrollIn{
    0%{
        left:-10rem;
    }
    100%{
        left:1.3rem;
    }
  }
.photoMenu li{
  list-style-type: none;
  transition: all .2s ease;
  cursor: pointer;
}
.photoMenu a{
  text-decoration: none;
  color: rgb(138, 138, 138);
}


.photoMenu li.active a{
  color: black;
}

.photoMenu li.active{
  transform: translateX(2.7rem)scale(1.4);
  transition: all .2s ease;
}

.bigBox{
  grid-area: bigBox;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
}

.carousel{
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1.5s;
  
}
@keyframes slidein {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.carousel-inner{
    display: grid;
    justify-content: center;
    align-items: center;
}

#carouselExampleInterval{
    z-index: 0;
    width: 78rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.carousel-item img{
    height: 50rem;
    max-width: 100%;
}
.carousel-control-prev img, .carousel-control-next img{
    width: 2rem;
}



.currentPage{
  grid-area: currentPage;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background: rgba(114, 114, 114, 0.507);
}

.currentPage p{
  font-family: 'Federo', sans-serif;
  color: white;
}

footer{
  grid-area: footer;
  width: 100%;
  display: grid;
  justify-items: center;
  line-height: 2rem;
  font-family: 'Federo', sans-serif;
  margin-bottom: 1.5rem;
}

footer img{
  width: 5rem;
}

.address_phone{
  display: grid;
  justify-items: center;
}
.copyRight{
  font-size: .8rem;
}

@media (max-width: 86.5rem){
  
  
  #carouselExampleInterval{
    width: 62.4rem;
  }

  .carousel-item img{
    height: 40rem;
  }
}

@media (max-width: 75.75rem){
  
  .wrapper{
    grid-template-columns:1fr;
    grid-template-areas: 
      'photoMenu'
      'bigBox'
      'currentPage'
      'footer';
  }
  .line{
    display: none;
  }
  
  .photoMenu{
    width: 90%;
  }
  
  .photoMenu ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
  }
  .photoMenu li{
    /* background:white; */
    text-align: center;
  }
  
  .photoMenu{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    /* background: red; */
    position: unset;
  }

  .photoMenu li.active{
    transform:scale(1.4);
    transition: all .2s ease;
    box-sizing: border-box;
  }

  .bigBox{
    margin-top:0;
  }

  .carousel-control-prev img, .carousel-control-next img{
    width: 1.3rem;
  }
}

@media (max-width: 63.93rem){
  
  #carouselExampleInterval{
    width: 56.16rem;
  }

  .carousel-item img{
    height: 36rem;
  }
}



@media (max-width: 56.25rem){
  
  #carouselExampleInterval{
    width: 50.625rem;
  }

  .carousel-item img{
    height: 32.4rem;
  }

  .photoMenu ul{
    width: 75%;
  }

  .photoMenu{
    margin-top:1.7rem;
    justify-items: center;
    grid-column-gap: 2rem;
  }
}
@media (max-width: 50.75rem){
  
  #carouselExampleInterval{
    width: 40.5rem;
  }
  .carousel-item img{
    height: 25.92rem;
  }

}

@media (max-width: 40.6875rem){

  
  .photoMenu li.active{
    transform: translateY(1.4rem)scale(1.2);
    transition: all .2s ease;
  }
  .photoMenu{
    margin-top: 2.7rem;
  }

  .photoMenu ul{
    width: 90%;
  }

  .photoMenu a{
    font-size: .8rem;
  }
  #carouselExampleInterval{
    width: 100%; 
  }
  .carousel-item img{
    height:70vw;
  }

  .carousel-control-prev img, .carousel-control-next img{
    width: .8rem;
  }
}



/* 
html,body {
    margin:0;
    padding:0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

}
body{
    background-color: whitesmoke;   

}

    .photo{
        width: 70%;
        margin: 0 auto;

    }



.photo-menu{
    font-family: 'Federo', sans-serif;
    text-decoration: none;
    position: fixed;
    top: 130px;
    
    left: -25px;
	animation-name: scrollIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

@keyframes scrollIn{
    0%{
        left:-150px;
    }
    100%{
        left:-25px;
    }
}

.photo-menu li{
    list-style-type: none;
    transition: all .2s ease;
    cursor: pointer;

}
.photo-menu a{
    text-decoration: none;
    color: rgb(138, 138, 138);
}

.photo-menu li.active a{
    color: black;
}

.photo-menu li.active{
    transform: translateX(27px)scale(1.3);
    transition: all .2s ease;
}
.location{
    color: rgba(33, 32, 32, 0.605);
    display: block;
    padding: 5px;
    background-color: rgba(114, 114, 114, 0.507);
    
}

.location p{
    padding-left: 20px;
    padding-top: 11px;
    font-family: 'Federo', sans-serif;
    color: whitesmoke;
}

.address_phone {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.address_phone span{
    font-size:12px;
    font-weight: bold;
}

footer{
    font-family: 'Federo', sans-serif;
    color: rgba(33, 32, 32, 0.605);
    margin: 0 auto;
    padding: 20px 0 20px;
    text-align: center;
    background-color: white;
}

footer img{
    width:100px; 
    opacity: .7;
    padding-bottom: 10px;
}

.copyRight{
    font-size: 13px;
} */