<body>
  <div class="wrapper">
    <div class="photoMenu">
      <ul>
        <li id="weddingButton" class="active" (click)="weddingPhotos()"><a>Wedding</a></li>
        <hr width="70px;" class="line">
        <li id="engButton" (click)="engagePhotos()"><a>Engagment</a></li>
        <hr width="70px;" class="line">
        <li id="preButton" (click)="prePhotos()"><a>Pre Shoot</a></li>
        <hr width="70px;" class="line">
        <li id="baptButton" (click)="bapPhotos()"><a>Baptism</a></li>
      </ul>
    </div> 

    <article class="bigBox">
      <div id="carouselExampleInterval"  class="carousel">

        <!-- Wedding -->
        <div *ngIf="page==1" class="carousel-inner">
          <div  class="carousel-item active" data-interval="1000">
            <img src="./../../assets/img/slide/{{wedding1}}" class="d-block" alt="...">
          </div>
          <div *ngFor="let p of wedding" class="carousel-item">
            <img src="./../../assets/img/slide/{{p}}" class="d-block" alt="...">
          </div>
        </div>

        <!-- Engagement -->
        <div *ngIf="page==2" class="carousel-inner">
          <div  class="carousel-item active" data-interval="1000">
            <img src="./../../assets/img/slide/{{engage1}}" class="d-block" alt="...">
          </div>
          <div *ngFor="let p of engage" class="carousel-item">
            <img src="./../../assets/img/slide/{{p}}" class="d-block" alt="...">
          </div>
        </div>

        <!-- Preshoot -->
        <div *ngIf="page==3" class="carousel-inner">
          <div  class="carousel-item active" data-interval="1000">
            <img src="./../../assets/img/slide/{{preshoot1}}" class="d-block" alt="...">
          </div>
          <div *ngFor="let p of preshoot" class="carousel-item">
            <img src="./../../assets/img/slide/{{p}}" class="d-block" alt="...">
          </div>
        </div>

        <!-- Baptism -->
        <div *ngIf="page==4" class="carousel-inner">
          <div  class="carousel-item active" data-interval="1000">
            <img src="./../../assets/img/slide/{{baptism1}}" class="d-block" alt="...">
          </div>
          <div *ngFor="let p of baptism" class="carousel-item">
            <img src="./../../assets/img/slide/{{p}}" class="d-block" alt="...">
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span aria-hidden="true"><img src="../../assets/img/previous.png" alt="Previous Image"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span aria-hidden="true"><img src="../../assets/img/next.png" alt="Next Image"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </article>
    
    <div class="currentPage">
        <p>Photo Gallery ></p>  
    </div>
    
    <!-- footer -->
    
    <footer>
      <div class="logo">
          <img src="../../assets/img/MainLogo.png" alt="Elemazelogo">
      </div>

      <div class="address_phone">
          <p>1833<span> 1/2</span>  W Glenoaks Blvd. Glendale, CA 91201, USA</p>
          <p> TEL : 818-433-7300</p>
          <p class="copyRight">&copy; 2019 by ELEMAZE</p>
      </div>
  </footer>
  </div>
</body>