
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');

*{
    margin: 0;
    padding: 0;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html{
    background:whitesmoke;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'bigBox'
    'currentPage'
    'footer';
  grid-row-gap: 3rem;
  height: 100%;
}

.bigBox{
  grid-area: bigBox;
  display: grid;
  grid-template-columns: .9fr;
  grid-template-areas:
    'vidBox';
  height: 58vw;
  justify-content: center;

}

.control{
  width: 80%;
}

.vidBox{
  grid-area: vidBox;
  display: grid;
  justify-items: center;
  align-items: center;
}

.vidBox iframe{
  width: 100%;
}

.listBox{
  max-width: 100%;
  grid-area: listBox;
  background: green;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(300, 15rem);
  overflow: hidden;
  overflow-x: scroll;
  align-content: center;
}

#carouselExampleInterval{
  z-index: 0;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}

.vid{
  width: 100%;
  height: 100%;
  /* height: 30rem ; */
}
.carousel-control-prev img, .carousel-control-next img{
  width: 2rem;
}

.carousel-control-prev , .carousel-control-next{
  height: 20%;
  position: absolute;
  top:24vw;
}


.currentPage{
  grid-area: currentPage;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background: rgba(114, 114, 114, 0.507);
}

.currentPage p{
  font-family: 'Federo', sans-serif;
  color: white;
}

footer{
  grid-area: footer;
  width: 100%;
  display: grid;
  justify-items: center;
  line-height: 2rem;
  font-family: 'Federo', sans-serif;
  margin-bottom: 1.5rem;
}

footer img{
  width: 5rem;
}

.address_phone{
  display: grid;
  justify-items: center;
}
.copyRight{
  font-size: .8rem;
}


@media (max-width: 87.5rem){
  
  #carouselExampleInterval{
    width: 100%;
  }

  .bigBox{
    height: 67vw;
  }

  .carousel-control-prev img, .carousel-control-next img{
    width: 1.3rem;
  }

  .carousel-control-prev , .carousel-control-next{
    top:26vw;
  }
}


@media (max-width:56.25rem) {
  .bigBox{
    height: 65vw;
  }
  .carousel-control-prev img, .carousel-control-next img{
    width: 1rem;
  }
}

@media (max-width:26.57rem) {
  .bigBox{
    grid-template-columns: 1fr;
    height: 100vw;
  }

  .carousel-control-prev img, .carousel-control-next img{
    width: .8rem;
  }
  .carousel-control-prev, .carousel-control-next{
    width: 2rem;
  }
  
  .carousel-control-prev , .carousel-control-next{
    top:37vw;
  }
  
}




