<body>

    <div class="wrapper">
        <div class="bigBox">
            <div class="vidBox">
                <div id="carouselExampleInterval" data-interval="false" class="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <iframe class="vid" src="https://player.vimeo.com/video/333235156?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen alt="..."></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328086418?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen alt="..."></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328083562?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen alt="..."></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328083060?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328075619?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328072205?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328062356?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328055770?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328053994?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328013302?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/328012885?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/323381576?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe class="vid" src="https://player.vimeo.com/video/181685811?color=d18c97&title=0&byline=0&portrait=0&badge=0"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span aria-hidden="true"><img src="../../assets/img/previous.png" alt="Previous Image"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span aria-hidden="true"><img src="../../assets/img/next.png" alt="Next Image"></span>
                        <span class="sr-only">Next</span>
                    </a>
            
                </div>
            </div>
        </div>

        <div class="currentPage">
                <p>Video Gallery ></p>
        </div>
    
    
        <!-- Footer -->
        <footer>
            <div class="logo">
                <img src="../../assets/img/MainLogo.png" alt="Elemazelogo">
            </div>
    
            <div class="address_phone">
                <p>1833<span> 1/2</span>  W Glenoaks Blvd. Glendale, CA 91201, USA</p>
                    <p> TEL : 818-433-7300</p>
                <p class="copyRight">&copy; 2019 by ELEMAZE</p>
            </div>
    
        </footer>
    </div>
    
</body>