<body>
    <!-- Header video -->
    <div class="homeWrapper">
        <header class="video">
            <video playsinline autoplay muted loop>
                <source id="#video_player" src="../../assets/video/Elemaze Pro Promo.mp4" type="video/mp4">
            </video>
            <div class="videoLogo">
                <img src="../../assets/img/ElemazeLogo-white.png">
                <img src="../../assets/img/ElemazeP-white.png">
            </div>
        </header>
            
        
        <!-- Categories -->
        <div   class="boxes">
            <div (click)="goToWedding()" id="wedding" [routerLink]="['/photogallery']" class="linkbox">
                <div class="box">
                    <div class="boxImg">
                        <img  src="../../assets/img/wedding.jpg" alt="">
                    </div>
                    
                    <div class="boxName">
                        <h3>Wedding</h3> 
                    </div>
                </div>
            </div>
            
            <div (click)="goToEngage()" id="engage" [routerLink]="['/photogallery']" class="linkbox">
                <div class="box">
                    <div class="boxImg">
                        <img src="../../assets/img/engagement.jpg" alt="">
                    </div>

                    <div class="boxName">
                        <h3>Engagement</h3> 
                    </div>
                </div>
            </div>

            <div (click)="goToPreShoot()" id="pre" [routerLink]="['/photogallery']" class="linkbox">
                <div class="box">
                    <div class="boxImg">
                        <img src="../../assets/img/preshoot.jpg" alt="">
                    </div>
                    
                    <div class="boxName">
                        <h3>Pre Shoot</h3> 
                    </div>
                </div>
            </div>
    
            <div (click)="goToBaptism()" id="bapt" [routerLink]="['/photogallery']" class="linkbox">
                <div class="box">
                    <div class="boxImg">
                        <img src="../../assets/img/baptism.jpg" alt="">
                    </div>
                    <div class="boxName">
                        <h3>Baptism</h3> 
                    </div>
                </div>
            </div>
            <!-- End of Categories -->
        </div>
    
        <!-- Elemaze Text -->
        <article class="elemaze">
                <img class="homeBanner" src="../../assets/img/HomeBanner.jpg" alt="">
                <img class="phoneBanner" src="../../assets/img/phonebanner.jpg" alt="">
        </article>
    
        <!-- Sample images -->
        <div class="bigBoxes">
            <div class="bigBox">
                <img src="../../assets/img/box1.jpg" alt="">
            </div>
            <div class="bigBox">
                <img src="../../assets/img/box2.jpg" alt="">
            </div>
            <div class="bigBox">
                <img src="../../assets/img/box3.jpg" alt="">
            </div>
        </div>
        
        <div [routerLink]="['/contactus']" class="button">
            <a >Book Your Session!</a>
        </div>
        
        <!-- Current page -->
        <div class="currentPage">
            <p>Home ></p>
        </div>
    
    
        <!-- Footer -->
        <footer>
            <div class="logo">
                <img src="../../assets/img/MainLogo.png" alt="Elemazelogo">
            </div>
    
            <div class="address_phone">
                <p>1833<span> 1/2</span>  W Glenoaks Blvd. Glendale, CA 91201, USA</p>
                    <p> TEL : 818-433-7300</p>
                <p class="copyRight">&copy; 2019 by ELEMAZE</p>
            </div>
    
        </footer>
    </div>
</body>