
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');


:root{
    --locBar:rgba(114, 114, 114, 0.507);
    --dark-grey:rgb(74, 74, 74);
    --smoke:whitesmoke;
    --white:white;
    --footerText:rgba(33, 32, 32, 0.605);
    --shadow:0 0 20px grey;
    --title-font:'Federo', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke; 
    z-index: -10;  
}

.homeWrapper{
    /* background: blue; */
    display: grid;
    width: 100%;
    justify-items: center;
    grid-row-gap: 10rem;
}

.video{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}
.video video{
    width: 100%;
}
    
.videoLogo{
    display: none;
}

.boxes{
    /* background: red; */
    width: 89rem;
    /* height: 28rem; */
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    box-sizing: border-box;
}

.box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'boxImg' 
        'boxName' ;
    width: 100%;
    background: white;
    transition: all .5s ease;
}
.boxImg{
    grid-area: boxImg;
}
.boxImg img{
    width: 100%;
    height: 100%;
}

.boxName{
    grid-area: boxName;
    display: grid;
    justify-content: center;
    align-content: center;
}


.box h3{
    font-family: 'Federo', sans-serif;
    font-size: 1.25rem;
    color: rgb(74, 74, 74);
}

.box:hover{
    background-color: rgb(74, 74, 74);;
    transition: all .5s ease;
    transform: scale(1.1);
    box-shadow: 0 0 20px grey;
}
.box:hover h3{
    color: white;
    transition: all .5s ease;
}

.elemaze img{
    width: 100%;
    box-shadow: 0 0 50px rgb(74, 74, 74);;
}
.phoneBanner{
    display: none;
}

.bigBoxes{
    width:80%;
    display: grid;
    grid-template-columns: 1fr;
    /* background: purple; */
    grid-row-gap: 8rem;
}

.bigBox{
    /* background: pink; */
    width: 100%;
}

.bigBox img{
    width: 100%;
    box-shadow: 0 0 20px grey;
}

.button a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: rgb(74, 74, 74);;
    padding: 1rem 2rem;
    font-family: 'Federo', sans-serif;
    font-size: 1.2rem;
    transition: all .5s ease;
    z-index: 10;
}

.button a:hover{
    background-color: rgb(74, 74, 74);;
    color: white;
    transform: scale(1.1);
    transition: all .5s ease;
}

.currentPage{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background: rgba(114, 114, 114, 0.507);
}

.currentPage p{
    font-family: 'Federo', sans-serif;
    color: white;
}

footer{
    width: 100%;
    display: grid;
    justify-items: center;
    line-height: 2rem;
    font-family: 'Federo', sans-serif;
    margin-top:-8rem;
    margin-bottom: 1.5rem;
}

footer img{
    width: 5rem;
}

.address_phone{
    display: grid;
    justify-items: center;
}
.copyRight{
    font-size: .8rem;
}




@media (max-width: 89rem){
    
    .boxes{
        width: 80.1rem;
        /* height: 25.2rem; */
        grid-gap: 1rem;
    }
}

@media (max-width: 85.375rem){
    .button a{
        pointer-events: none;
    }
    .box{
        pointer-events: none;
    }

    .box{
        box-shadow: 0 0 20px grey;
    }
}

@media (max-width:80.1rem){
    .boxes{
        width: 72.1rem;
        /* height: 22.68rem; */
    }
}

@media (max-width:72.1rem){
    .boxes{
        width: 64.89rem;
        /* height: 20.412rem; */
    }
}

@media (max-width:64rem){

    .boxes{
        width: 51.2rem;
        grid-gap: 4rem;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:56.25rem){
    
    .videoLogo{
        display: initial;
    }
    .videoLogo{
        height: 5rem;
        margin-top: -3rem;
    }
    .videoLogo img{
        margin-top: .5rem;
        height: 35px;
        opacity: 0.5;
        filter: alpha(opacity=30);
    }
}

@media (max-width:51.2rem){

    .boxes{
        width: 41rem;
        grid-gap: 2rem;
    }
    
    .videoLogo img{
        height: 25px;
    }
    .videoLogo{
        margin-top: -2.3rem;
    }
}

@media (max-width:41rem){
    .bigBoxes{
        width: 100%;
    }
    .boxes{
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        width: 32.8rem;
    }
    .phoneBanner{
        display: initial;
    }
    .homeBanner{
        display: none;
    }
}

@media (max-width:32.8rem){
    .boxes{
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        width:27.24rem;
    }
    .box{
        box-shadow: none;
    }
    .boxName h3{
        font-size: 1rem;
    }
}

@media (max-width:27.24rem){
    
    .homeWrapper{
        grid-row-gap: 5rem;
    }

    .boxes{
        width:21.8rem;
    }
    .boxName h3{
        font-size: .8rem;
    }

    .videoLogo img{
        height: 18px;
    }
    .videoLogo{
        margin-top: -1.85rem;
    }

    footer{
        margin-top:-3rem;
    }
}

@media (max-width:23.45rem){
    
    .boxes{
        width:17rem;
        grid-template-columns: 1fr;
        grid-row-gap: 2.5rem;
    }

    .box{
        box-shadow: 0 0 20px grey;
    }

    .boxName h3{
        font-size: 1rem;
    }

    
}


