<body [routerLink]="['/home']">
  <div class="welcomeWrapper">
    <div class="logo">
      <h1 class="WelcomeTxt">Welcome to</h1>
      <img class="logoTop" src="../../assets/img/ElemazeLogo-white.png" alt="">
      <img class="logoBottom" src="../../assets/img/ElemazeP-white.png" alt="">
      <h4 class="click" >Click to Enter</h4>
    </div>

  </div>
</body>