@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Federo', sans-serif;
    
}
body{
    background: #000000;
    width: 100vw;
    height: 100vh;
}
.welcomeWrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.welcomeWrapper img{
    width: 23rem;
}

.logo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    transform: translateY(-5vh);
    height: 25rem;
}
.logoTop {
    transform: translateX(100vw);
    animation: logoTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}
@keyframes logoTop{
    100%{
        transform: translateX(0);
    }
}
.logoBottom {
    transform: translateX(-100vw);
    animation: logoBottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}
@keyframes logoBottom{
    100%{
        transform: translateX(0);
    }
}
.click {
    display: grid;
    justify-self: center;
    align-self: center;
    animation: click;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-duration: 1.4s;
    color: rgba(255, 255, 255, 0.625);
    opacity: 0;
    margin-top: 1rem;
}
@keyframes click {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.WelcomeTxt{
    display: grid;
    justify-self: center;
    align-self: center;
    /* grid-row: 2/3; */
    font-size: 2rem;
    color: whitesmoke;
    transform: scale(0);
    animation: welcomeTxt;
    animation-duration: 2.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes welcomeTxt{
    50%{
        transform: scale(3);
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }
}

@media (max-width:680px) {
    .welcomeWrapper img{
        width: 16rem;
    }

    .WelcomeTxt{
        font-size: 1rem;
    }
}