<body>
        <!-- Header Image -->
        <div class="contactWrapper">
            <header class="img"> 
                <img src="../../assets/img/Web 026.jpg" alt="Contact us">
            </header>
    
            <!-- Container -->
            <div class="container">
    
                <header class="title">
                    <h1>CONTACT ELEMAZE</h1>
                </header>
    
                <div class="info">
                    <h6>Narbeh/Nejdeh Nalchachian</h6>
                    <h6><span>TEL: </span> 818-433-7300</h6>
                    <h6><span>Email: </span> elemazepros@gmail.com</h6>
                    <h6><span>Address: </span> 1833<span> 1/2</span>  W Glenoaks Blvd. Glendale, CA 91201, USA</h6>
                </div>
    
                <div class="googleMap">
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d825.2340256546747!2d-118.29306297079296!3d34.17355130833547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c003f60bf039%3A0x80e71b5187f513d7!2s1833+W+Glenoaks+Blvd+%2312%2C+Glendale%2C+CA+91201!5e0!3m2!1sen!2sus!4v1552354953386" 
                        frameborder="0" 
                        style="border:0" >
                    </iframe>
                </div>
    
                <div class="contactForm">
                    <form (submit)=contacUs() id="form" class="topBefore">
                        <input name="user.name" [(ngModel)]="user.name" id="name" type="text" placeholder="NAME">
                        <input name="user.phone" [(ngModel)]="user.phone" id="phone" type="number" placeholder="PHONE">
                        <input name="user.email" [(ngModel)]="user.email" id="email" type="text" placeholder="E-MAIL">
                        <textarea name="user.message" [(ngModel)]="user.message" id="message" type="text" placeholder="MESSAGE"></textarea>
                        <input id="submit" type="submit" value="SUBMIT!">
                    </form>
                </div>
            </div>
    
            <!-- Current page -->
            <div class="currentPage">
                <p>Contact us ></p>
            </div>
        
            <!-- Footer -->
            <footer>
                <div class="logo">
                    <img src="../../assets/img/MainLogo.png" alt="Elemazelogo">
                </div>
        
                <div class="address_phone">
                    <p>1833<span> 1/2</span>  W Glenoaks Blvd. Glendale, CA 91201, USA</p>
                    <p> TEL : 818-433-7300</p>
                    <p class="copyRight">&copy; 2019 by ELEMAZE</p>
                </div>
            </footer>
        </div>
    </body>