
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');

*{
    margin: 0;
    padding: 0;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1s;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

html,body{
    box-sizing: border-box;
    width: 100%;
    background-color: whitesmoke;  
}

/* Wrapper */
.contactWrapper{
    width: 100%;
    display: grid;
    grid-row-gap: 4rem;
    justify-items: center;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.img img{
    width: 100%;
}

/* container */
.container{
    width: 90%;
    /* background: red; */
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-areas:
        'title title'
        'googleMap info'
        'googleMap contactForm';
    grid-row-gap: 2rem;
    grid-column-gap: 7rem;
    /* background: red; */
}

.title{
    padding: 0rem 0 2.5rem;
    text-align: center;
    grid-area: title;
    font-family: 'Federo', sans-serif;
}

.title h1{
    font-size: 2.1rem;
}

.info{
    display: flex;
    flex-direction: column;
    grid-area: info;
    font-family: 'Forum', cursive;
    justify-content: center;
}

.info h6{
    font-size: 1.08rem;
    font-weight: 300;
    line-height: 2rem;

}

.googleMap{
    width: 100%;
    grid-area: googleMap;
    text-align: center;
}

.map {
    width: 100%;
    height: 35rem;
}
.contactForm{
    grid-area: contactForm;

}




/* Form */
  
input {
    /* width: 50%; */
    font-family: 'Forum', cursive;
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;
    
    background: white;
    outline: none;
    color: rgb(74, 74, 74);
    
    border: solid 1px rgba(114, 114, 114, 0.507);
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
 /*Input Hover  */
input:hover {
    background:rgb(74, 74, 74);
    color: white;
}

input:focus {
    transform: scale(1.1);
    background:rgb(74, 74, 74);
    color: white;
}



input:hover::-webkit-input-placeholder {
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
textarea {
    width: 100%;
    height: 7.5rem;
    padding: 15px;
    max-width: 100%;
    max-height:10rem;

    box-sizing: border-box;
    background: white;
    outline: none;
    color: rgb(77, 77, 77);
    font-family: 'Forum', cursive;
    font-size:1rem;
    
    border: solid 1px rgba(114, 114, 114, 0.507);
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
textarea:hover {
    background:rgb(74, 74, 74);
    color:white;
}
textarea:hover::-webkit-input-placeholder {
    color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:focus {
    transform: scale(1.1);
    background:rgb(74, 74, 74);
    color: white;
}

#submit {
    width: 100%;
    
    padding: 0;
    font-family: 'Forum', cursive;
    
    font-size: 1rem;
    color: rgb(74, 74, 74);
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3b2b2;
    border-top: none;
}
  
#submit:hover {
    color: white;
}

#submit:focus {
    transform: scale(1.1);
    background:rgb(74, 74, 74);
    color: white;
}


.currentPage{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background: rgba(114, 114, 114, 0.507);
}

.currentPage p{
    font-family: 'Federo', sans-serif;
    color: white;
}

footer{
    width: 100%;
    display: grid;
    justify-items: center;
    line-height: 2rem;
    font-family: 'Federo', sans-serif;
    margin-bottom: 1.5rem;
}

footer img{
    width: 5rem;
}

.address_phone{
    display: grid;
    justify-items: center;
}
.copyRight{
    font-size: .8rem;
}


@media (max-width: 1020px){
    .contactWrapper{
        width: 100%;
        display: grid;
        grid-row-gap: 2rem;
        justify-items: center;
    }
    
    .container{
        width: 92%;
        grid-template-columns: .6fr 1fr;
        grid-template-areas:
            'title title'
            'info contactForm'
            'googleMap googleMap';
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
        /* background: red; */
    
    }

    .title h1{
        font-size: 1.6rem;
    }

    .info{
        line-height: 2rem;
        justify-content: start;
    }

    .info span{
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .map{
        height: 30rem;
    }

}

@media (max-width: 690px){
    .contactWrapper{
        grid-row-gap: 2rem;
    }
    
    .container{
        width: 92%;
        grid-template-columns: 1fr;
        grid-template-areas:
            'title '
            'info '
            'contactForm'
            'googleMap';
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
        justify-items: center;
        /* background: red; */
    
    }
    .info{
        width: 80%;
    }

    .title{
        padding: 0;
    }
    .title h1{
        font-size: 1.4rem;
    }
    .map{
        height: 35rem;
    }
}

@media (max-width: 355px){
    html{
        font-size: 13px;
    }
}
