
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');

:root{
    --locBar:rgba(114, 114, 114, 0.507);
    --dark-grey:rgb(74, 74, 74);
    --smoke:whitesmoke;
    --white:white;
    --footerText:rgba(33, 32, 32, 0.605);
    --shadow:0 0 20px grey;
    --title-font:'Federo', sans-serif;
}

html,body {
    margin:0;
    padding:0;
}
#drawer-toggle,#drawer-toggle-label,#drawer{
    display: none;
}

header{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 3s;

    z-index: 1;
    padding: 0;
    background-color:rgb(0, 0, 0);
    display: block;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 0 20px black
}

.logo, .menu, .menu li{
    display: inline-block;
    

}
.unordered-list li{
    margin-right:20px;
    margin-top: 13px;
}

.menu{
    position: relative;
    float:right;
    margin-right: 40px;
}

.logo{
    padding-top: 5px;
    margin-left: 10px;
}

#logoText{
    padding-top:20px;
    width: 100px;
}

#logoImg{
    width: 52px;
}


.menu a{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 2.5s;
    letter-spacing: .4px;

    font-family: 'Federo', sans-serif;
    font-size:20px;
    text-decoration: none;
    color:rgb(109, 109, 109);
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.menu a:hover  {
    color: white;
}

.sMedia{
    z-index: 2;
    position: fixed;
    right: 10px;
	animation-name: scrollInSocial;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 2s;
    top: 130px;
    width: 2.8rem;
    display: block;
    text-align: center;
}

@keyframes scrollInSocial{
    0%{
        right:-50px;
    }
    100%{
        right:7px;
    }
}

.sMedia img{
    margin-top: 5px;
    opacity: 0.5;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    padding:2px;
    width: 2.6rem;
}

.sMedia img:hover{
    transform: translateX(-8px);
    transition: all .2s ease;
}

@media (max-width:56.25rem) {
    
    * { 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        -o-box-sizing: border-box; 
        box-sizing: border-box; 
        /* adds animation for all transitions */ 
        -webkit-transition: .25s ease-in-out; 
        -moz-transition: .25s ease-in-out; 
        -o-transition: .25s ease-in-out; 
        transition: .25s ease-in-out; 
        -webkit-text-size-adjust: none; 
    } 
        
    .logo,.menu,.sMedia{
        display: none;
    }


    #drawer-toggle,#drawer-toggle-label,#drawer{
        display: initial;
    }
    #whitelogoImg{
        width: 4.5rem;
    }
    #whitelogoText{
        width: 8rem;
        margin-top: 1.5rem;
    }
        
        
    #drawer-toggle { 
        position: absolute; 
        opacity: 0; 
        transition: none; 
    }
        
    #drawer-toggle-label { 
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
        left: 0px; 
        height:3rem; 
        width: 3.3rem; 
        display: block; 
        position: fixed; 
        background: rgba(0, 0, 0, 0); 
        z-index: 1; 
    } 
            
            /* adds our "hamburger" menu icon */ 
            
    #drawer-toggle-label:before { 
        content: ''; 
        display: block; 
        position: absolute; 
        height: 3px; 
        width: 30px; 
        background: #8e8e8e; 
        left: 13px; 
        top: 18px; 
        box-shadow: 0 8px 0 #8e8e8e, 0 16px 0 #8e8e8e; 
    } 
            
            
            /* drawer menu pane - note the 0px width */ 

    #drawer { 
        position: fixed; 
        top: 0; 
        left:-300px; 
        height: 100%; 
        width: 300px; 
        background: #2f2f2f; 
        overflow-x: hidden; 
        overflow-y: scroll; 
        padding: 20px; 
        -webkit-overflow-scrolling: touch;
        font-family: 'Federo', sans-serif;
        z-index: 3;

    } 
    #drawer-toggle:checked ~ #drawer-toggle-label{ 
        height: 100%; 
        width: calc(100% - 300px); 
        background: rgba(255, 255, 255, 0.434); 
    } 
        
    #drawer-toggle:checked ~ #drawer-toggle-label, 
    #drawer-toggle:checked ~ header { 
        left: 300px; 
    } 
        
    #drawer-toggle:checked ~ #drawer
    { 
        left: 0px; 
    } 
        
    #drawer-toggle:checked ~ #page-content { 
        margin-left: 300px; 
    }
        
        /* Menu item styles */ 
        
    #drawer ul { 
        list-style-type:none; 
    } 
        
    #drawer ul a { 
        margin-top: .5rem;
        display:block; 
        padding:10px; 
        color:#c7c7c7; 
        text-decoration:none; 
        font-size: 1.2rem;
        cursor: pointer;
    } 


}

@media (max-width:29rem) {
    
    #drawer-toggle:checked ~ #drawer-toggle-label{ 
        width: calc(100% - 250px); 
    } 
        
    #drawer-toggle:checked ~ #drawer-toggle-label, 
    #drawer-toggle:checked ~ header { 
        left: 250px; 
    } 
        
    #drawer-toggle:checked ~ #drawer
    { 
        left: 0px; 
    } 
        
    #drawer-toggle:checked ~ #page-content { 
        margin-left: 250px; 
    }

    #drawer { 
        width: 250px; 
    } 

    #drawer ul { 
        padding: 0;
    } 


}
