
<body>
  
  <header>
    <!-- drawer menu -->
    <!-- <div class="drawer"> -->
      <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
      <label for="drawer-toggle" id="drawer-toggle-label"></label>
      <nav id="drawer">
          <ul>
            <img id="whitelogoImg" src="../assets/img/ElemazeLogo-white.png">
            <img id="whitelogoText" src="../assets/img/ElemazeP-white.png">
            <li><a class="routerLink" [routerLink]="['/home']">Home</a></li>
            <li><a class="routerLink" [routerLink]="['/photogallery']">Photo Gallery</a></li>
            <li><a class="routerLink" [routerLink]="['/videos']">Video Gallery</a></li>
            <li><a class="routerLink" [routerLink]="['/about']">About</a></li>
            <li><a class="routerLink" [routerLink]="['/contactus']">Contact us</a></li>
            <hr width="90%" class="hr" color="white">
            <li><a (click)= "navFb()" >Facebook</a></li>
            <li><a (click)= "navInst()" >Instagram</a></li>
            <li><a href="www.instagram.com">Vimeo</a></li>
          </ul>
      </nav>
    <!-- </div> -->
      


      <div class="logo">
        <img id="logoImg" src="../assets/img/ElemazeLogo-white.png">
        <img id="logoText" src="../assets/img/ElemazeP-white.png">
      </div>

      <nav class="menu">
        <ul class="unordered-list">
  
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
  
          <li>
            <a [routerLink]="['/photogallery']">Photo Gallery</a>
          </li>
  
          <li>
            <a [routerLink]="['/videos']">Video Gallery</a>
          </li>
  
          <li>
            <a [routerLink]="['/about']">About</a>
          </li>
  
          <li>
            <a [routerLink]="['/contactus']">Contact us</a>
          </li>
  
        </ul>
      </nav>
    </header>
    
    <div class="sMedia">
      <a (click)= "navFb()">
        <img src="../assets/img/f_poimty.png" alt="Elemaze instagram">
      </a>
      <a (click)= "navInst()">
        <img src="../assets/img/inst_pointy.png" alt="Elemaze Facebook">
      </a>
    </div>
    
  
    <router-outlet></router-outlet>

    
</body>
