<body>
  <div class="wrapper">
    <div class="bigBox">
      <div class="twoBoxes">
        <div class="box1">
            <img src="https://source.unsplash.com/random/550x550" alt="">
        </div>
        <div class="box2">
          <h2>Elemaze</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat pariatur laudantium odio quos sint tempore amet eius dicta consequatur sed esse quisquam, adipisci neque ut possimus magnam ducimus impedit, quibusdam quasi repellat dolore, porro aliquid ipsa? Cupiditate perspiciatis reprehenderit voluptatum nihil necessitatibus voluptate voluptatem. Ducimus quo blanditiis distinctio, pariatur porro voluptas qui atque quia recusandae numquam reprehenderit minus iusto possimus ipsa quam nisi at esse corporis. Iure unde qui impedit minus quas non atque! Iure.
          </p>
        </div>
      </div>
      <div class="twoBoxes">
        <div class="box2">
          <h2>Narbeh</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat pariatur laudantium odio quos sint tempore amet eius dicta consequatur sed esse quisquam, adipisci neque ut possimus magnam ducimus impedit, quibusdam quasi repellat dolore, porro aliquid ipsa? Cupiditate perspiciatis reprehenderit voluptatum nihil necessitatibus voluptate voluptatem. Ducimus quo blanditiis distinctio, pariatur porro voluptas qui atque quia recusandae numquam reprehenderit minus iusto possimus ipsa quam nisi at esse corporis. Iure unde qui impedit minus quas non atque! Iure.
          </p>
        </div>
        <div class="box1">
          <img src="https://source.unsplash.com/random/550x551" alt="">
        </div>
      </div>
      <div class="twoBoxes">
        <div class="box1">
          <img src="https://source.unsplash.com/random/550x552" alt="">
        </div>
        <div class="box2">
          <h2>Njdeh</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat pariatur laudantium odio quos sint tempore amet eius dicta consequatur sed esse quisquam, adipisci neque ut possimus magnam ducimus impedit, quibusdam quasi repellat dolore, porro aliquid ipsa? Cupiditate perspiciatis reprehenderit voluptatum nihil necessitatibus voluptate voluptatem. Ducimus quo blanditiis distinctio, pariatur porro voluptas qui atque quia recusandae numquam reprehenderit minus iusto possimus ipsa quam nisi at esse corporis. Iure unde qui impedit minus quas non atque! Iure.
          </p>
        </div>
      </div>
    </div>
       <!-- Current page -->
    <div class="currentPage">
      <p>About ></p>
    </div>

    <!-- Footer -->
    <footer>
      <div class="logo">
        <img src="../../assets/img/MainLogo.png" alt="Elemazelogo">
      </div>

      <div class="address_phone">
        <p>1833<span> 1/2</span>  W Glenoaks Blvd. Glendale, CA 91201, USA</p>
        <p> TEL : 818-433-7300</p>
        <p class="copyRight">&copy; 2019 by ELEMAZE</p>
      </div>
    </footer>
  </div>
</body>