
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Arima+Madurai|Carrois+Gothic|Carrois+Gothic+SC|Federo|Forum|Marmelad|Molengo|Open+Sans+Condensed:300|Tajawal');

*{
    margin: 0;
    padding: 0;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1s;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
html,body{
    box-sizing: border-box;
    width: 100%;
    background: whitesmoke;
}

.wrapper{
    /* background: red; */
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'bigBox'
        'currentPage'
        'footer';
    justify-items: center;
    grid-gap: 2rem;
}

.bigBox{
    width: 84rem;
    /* background: green; */
    grid-area:bigBox;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem; 
    margin: 8rem 0;
}

.twoBoxes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    box-shadow: 0 0 20px grey;
}

.box1,.box2{
    /* background: white; */
    font-family: 'Forum', cursive; 
    box-sizing: border-box;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box1 img{
    width: 100%;
}
.box2{
    padding: 8rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: rgb(74, 74, 74);
}

.box2 p{
    margin-top: 1rem;
}


.currentPage{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background: rgba(114, 114, 114, 0.507);
    grid-area:currentPage;
}

.currentPage p{
    font-family: 'Federo', sans-serif;
    color: white;
}

footer{
    width: 100%;
    display: grid;
    justify-items: center;
    line-height: 2rem;
    font-family: 'Federo', sans-serif;
    margin-bottom: 1.5rem;
    grid-area: footer;
}

footer img{
    width: 5rem;
}

.address_phone{
    display: grid;
    justify-items: center;
}
.copyRight{
    font-size: .8rem;
}

@media (max-width: 84rem){
    
    .bigBox{
        width: 67.2rem;
    }

    .box2{
        padding: 5rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 67.2rem){
    .bigBox{
        width: 60.48rem;
    }

    .box2{
        padding: 4rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 60.48rem){
    .bigBox{
        width: 54.432rem;
    }

    .box2{
        padding: 3rem;
    }
}

@media (max-width: 54.432rem){
    
    .bigBox{
        width: 90%;
        margin: 4rem 0;

    }
    .twoBoxes{
        grid-template-columns: 1fr;
    }

    .box2{
        padding: 2rem;
        font-size: .8rem;
        line-height: 1.2rem;
    }
}